.main__product-list {
    max-width: 1290px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main__product-card {
    flex: 1 1 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}
.product {
    box-shadow: 5px 5px 16px rgba(0,0,0,0.3);
    padding: 20px;
}
.product__category {
    font-size: 0.8rem;
    text-decoration: none;
    color: #4e4f54;
}
.product__name {
    font-size: 1.5rem;
    text-decoration: none;
    color: #4e4f54;
}
.product__image {
    align-self: center;
}
.product__buy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.product__button {
    background-color: #8B6F5D;
    color: #fff;
    border: 1px solid #8B6F5D;
    border-radius: 0.625rem;
    cursor: pointer;
    padding: 8px 15px;
    display: flex;
}
.product__button:hover {
    opacity: 0.7;
    transition: .3s;
}  
.product__button-title {
    padding-left: 12px;
    align-self: center;
}
@media (min-width: 481px) and (max-width: 1000px) {
    .main__product-card {
        flex: 1 1 300px;
    margin: 0.5rem;
    }
}