.product__card {
    flex: 1 1 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}
.product {
    box-shadow: 5px 5px 16px rgba(0,0,0,0.3);
    padding: 20px;
}
.product__category {
    font-size: 0.8rem;
    text-decoration: none;
    color: #4e4f54;
}
.product__name {
    font-size: 1.5rem;
    text-decoration: none;
    color: #4e4f54;
}
.product__image {
    align-self: center;
}
.product__buy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.product__button {
    padding: 8px 15px;
    display: flex;
}
.product__button-title {
    padding-left: 12px;
    align-self: center;
}
@media (min-width: 481px) and (max-width: 1000px) {
    .product__card {
        flex: 1 1 300px;
        margin: 1.2rem;
    }
    .product__name {
        height: 64px;
    }
}