.header__container {
  border-top: 10px solid #8B6F5D;
  top: 0;
  position: sticky;
  z-index: 100;
}
.header {
  box-shadow: 0 3px 5px #ccc;
  background-color: #fff;
}
.header__main {
  height: 72px;
  border-bottom: 1px solid #EBE8E6;
  /* width: 100%; */
}
.header__top {
  max-width: 1290px;
  height: 100%;   /* для выравнивания */
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 16px; 
}
.header__logo {
  /* margin-right: 150px; */
  flex: 1 0;
}
.header__search {
  flex: 2;
}
.search__input{
  width: 80%;
  font-size: 1rem;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  padding-left: 1rem;
}
.search__input::placeholder {
  color: #ccc;
}
.header__profile {
  flex: 1;
  margin-right: 20px; 
}
.header__link {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color: #4F3F34;
}
.header__profile-title {
  margin-right: 10px;
}
.header__profile-icon {
  margin-right: 10px;
}
.header__cart {
  display: flex;
}
.header__icon {
  vertical-align: bottom;
  margin-right: 10px;
}
.header__nav {
  height: 48px;
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__link {
  margin-right: 40px;
}
@media (min-width: 481px) and (max-width: 780px) {
  .header__main {
    margin-right: 20px;
    padding-bottom: 10px;
    height: 120px;
    }
    .header__top {
      margin-top: 10px;
      flex-wrap: wrap;
    }
    .header__logo {
      margin-right: 100px;
      order: 10;
      flex: unset;
    }
    .header__search {
      min-width: 450px;
      order: 30;
    }
    .search__input{
      width: 100%;
    }
    .header__profile {
      display: flex;
      order: 20;
      margin-right: 0;
    }
    .header__nav {
      flex-wrap: wrap;
      margin-left: 20px;
    }
    .nav__link {
      flex: 1 1 20%;
    }
  }

  @media (max-width: 480px) {
    .header__main {
      height: 120px;
    }
    .header__top {
      flex-wrap: wrap;
    }
    .header__logo {
      margin-right: 20px;   
    }
    .header__search {
      min-width: 150px;
      flex: unset;
      order: 30;
    }
    .search__input {
      width: 100%;
    }
    .header__profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 0;
      order: 20;
    } 
    .header__nav {
      flex-wrap: wrap;
      margin-left: 20px;
      min-height: 80px;
      justify-content: space-between;
    }
    .nav__link {
      flex: 1 1 30%;
    }
  }  