.main__header {
    margin: 0 auto;
    border: 1px solid #ccc;
    border-top: 10px solid #8B6F5D;
}
.header {
  box-shadow: 0 3px 5px #ccc;
}
.header__container {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5rem;
}
.header__logo {
    flex: 1 0;
}
.header__search {
    flex: 3 0;
}

.search__input{
    width: 90%;
    font-size: 1rem;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    padding-left: 1rem;
}
.search__input::placeholder {
    color: #ccc;
}
  .header__profile{
    flex: 2 0;
    display: flex;
    justify-content: space-around;
  }
  .profile__item{
    list-style-type: none;
  }
  .header__link {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: #4F3F34;
  }
  .header__nav {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
  }
   @media (min-width: 481px) and (max-width: 780px) {
     .header__container{
       margin-left: 0.5rem;
     }
    .header__search {
      flex: 1 1 100%;
      order: 30;
    }
    .header__profile{
      padding-left: 0.5rem;
      flex: 1 1 60%;
      order: 20;
    }
    .header__nav{
      order: 50;
      display: flex;
      flex-wrap: wrap;
    }

    .header__link {
      flex: 1 1 30%;
    }
  }
  @media (max-width: 480px) {
    .header__container {
      margin-top: 0.5rem;
      display: flex;
      flex-flow: row wrap;
    }
    .header__logo {
      flex: 0 0 20%;
  }
  .header__search {
    flex: 0 0 60%;
  }
  .header__profile{
    flex: 0 0 30%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header__nav{
    line-height: 5vh;
    flex: 0 0 40%;
    flex-direction: column;
  }
  .header__link {
    border-bottom: 1px solid #ccc;
  }
  .header__link:last-child {
    border:none;
  }
}