* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Jost', sans-serif;
}

/* Отключаем дерганье из-за скролла*/

@media screen and (min-width: 1290px) {
  html {
    margin-left: calc(100vw - 100% - 22px);
    margin-right: 0;
  }
}